body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: left;
}

#upload-form label {
  margin-top: 20px;
  font-weight: bold;
}

#upload-form input[type="file"] {
  margin-top: 10px;
  text-align: left;
}

input[type="submit"] {
	margin-top: 20px;
	width: 10%;
	position: center;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

input[type="submit"]:hover {
	background-color: #0062cc;
}

#analysis-options {
  margin-top: 50px;
}

.analysis-option {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.analysis-option h3 {
  margin-top: 0;
}

.analysis-option button {
  margin-top: 10px;
}

#results-section {
  margin-top: 50px;
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.result h3 {
  margin-top: 0;
}

.result table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.result th, .result td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.result th {
  background-color: #f2f2f2;
}
