<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers.  -->
        <script src="{{url_for('static', filename='script/style.css')}}"></script>
</head>
<body>
        <h1>Upload classes' name and students' information files</h1>
        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                <label for="json-file-1">Select classes.json file:</label>
                <input type="file" id="json-file-1" name="json-file-1">
                <br>
                <label for="json-file-2">Select students.json file:</label>
                <input type="file" id="json-file-2" name="json-file-2">
                <br>
                <input type="submit" value="Upload">
        </form>
        

</body>
</html>